@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
  transition: 0.5 ease-in-out;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  .slick-prev:before,
  .slick-next:before{
      color:black !important;
      font-size: 32px;
  }
  
}

/* Assuming your custom arrow components have class names 'slick-prev' and 'slick-next' */
.slick-next {
  /* top: unset !important;
  bottom: 25px !important; */
  z-index: 10 !important;
}

.slick-next {
  right: 30px !important;
  left: -54px !important;
  margin-right: 16px !important;
}
.slick-prev {
  /* right: 30px !important; */
  /* top: 0px !important; */
  left: -54px !important;
  margin-top: 42px !important;
  margin-right: 16px !important;
}


.cross-button {
  position: relative;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #000;
  transition: background-color 0.3s ease;
}

.line1 {
  transform: rotate(45deg);
}

.line2 {
  transform: rotate(-45deg);
}
